@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap');

html, body {
  font-size: 15px;
  font-family: 'Urbanist', sans-serif;
}

.hero.is-success {
  background: #F2F6FA;
}

.box {
  margin-top: 5rem;
}

.login-hr {
  border-bottom: 1px solid black;
}

.has-text-black {
  color: black;
}

.has-text-red {
  color: red;
}

.has-text-green {
  color: green;
}

.field {
  padding-bottom: 10px;
}
